#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Sobre o projeto
        p(translate) O projeto Rede InfoAmazonia visa desenvolver um sistema de monitoramento de baixo custo para analisar a qualidade da água para consumo humano, e estabelecer uma rede de monitoramento em articulação com comunidades da Amazônia brasileira, para apresentar em tempo real os resultados das análises na plataforma InfoAmazonia e enviar alertas aos consumidores através de SMS.
  .container
    .six.columns.offset-by-three

      p(translate) Com o hardware, chamado "Mãe d'Água" é possível detectar possíveis alterações da condição da água provenientes de despejo inadequado de resíduos domésticos, industriais e metais pesados em caixas d´água, cisternas e águas superficiais de mananciais menores. Os resultados das análises ajudam a distinguir a água potável de água contaminada. 

      p(translate) O desenvolvimento dos sensores é realizado em parceria com a rede norte-americanao de ciência cidadã Public Lab e a a start-up Dev Tecnologia, empresa incubada na Universidade de São Paulo.

      p(translate) A implementação da rede de 20 sensores acontecerá na Amazônia Brasileira, e está prevista o último trimestre de 2015. A ONG Saúde e Alegria, que atua em unidades de conservação e comunidades ao longo do rio Tapajós, é uma parceira estratégica na articulação local no Pará, junto com as Secretarias de Meio Ambiente de Santarém e Belterra. No Amazonas o projeto está sendo implantado com o Instituto Mamirauá.

      p(translate) O projeto foi um dos ganhadores do Desafio de Impacto Social do Google em 2014, junto a outras 9 ideias apresentadas por ONGs de todo o Brasil.
