#page
  .page-intro
    .container
      .nine.columns
        h2 Sobre os dados
        
  .page-section#iqa
    .container
      .three.columns
        h2 Índice de qualidade da água
      .six.columns
        p (texto sobre o IQA)
        p O índice de qualidade da água do Rede InfoAmazonia é composto de 4 parâmetros, que possuem pesos diferenciados
        ol
          li Potencial hidrogênionico (pH) (peso = 0,xx)
          li Potencial de redução da oxidação (ORP) (peso = 0,xx)
          li Condutividade elétrica (peso = 0,xx)
          li Temperatura da água (peso = 0,xx)

  .page-section#visualizacao
    .container
      .three.columns
        h2 Visualização dos dados
      .six.columns
        p Os resultados das análises estão estão disponíveis para download + PDF
