#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Sobre o projeto
        p(translate) O projeto Rede InfoAmazonia desenvolveu um sistema de monitoramento de baixo custo para analisar a qualidade da água para consumo humano, e estabeleceu uma rede de monitoramento em articulação com comunidades da Amazônia brasileira, para apresentar em tempo real os resultados das análises na plataforma InfoAmazonia e enviar alertas aos consumidores através de SMS.
  .container
    .six.columns.offset-by-three

      p(translate) O hardware, chamado "Mãe d'Água", pode ser instalado em caixas d´água, cisternas e águas superficiais de mananciais menores, e com ele é possível detectar possíveis alterações de características da água provenientes de despejo inadequado de resíduos domésticos, industriais e metais pesados. Os resultados das análises ajudam a distinguir a água potável de água contaminada.

      p(translate) O desenvolvimento dos sensores foi realizado em parceria com a start-up 
        a(href="http://devtecnologia.com.br" rel="external" target="_blank") Dev Tecnologia
        | , empresa incubada na Universidade de São Paulo, e com ajuda da rede internacional de ciência cidadã 
        a(href="https://publiclab.org/" rel="external" target="_blank") Public Lab
        | .

      p(translate) A implementação da rede de 18 sensores pilotos aconteceu na Amazônia Brasileira em outubro de 2015, com o apoio e participação da 
        a(href="http://www.saudeealegria.org.br/" rel="external" target="_blank") ONG Saúde e Alegria
        | , que atua em unidades de conservação e comunidades ao longo do rio Tapajós. O projeto também contou com o apoio do Laboratório Mídias Eletrônicas da UFOPA e das Secretarias de Meio Ambiente dos municípios de Santarém e Belterra.

      p(translate) O projeto foi um dos premiados do 
        a(href="https://desafiosocial.withgoogle.com/brazil2014" rel="external" target="_blank") Desafio de Impacto Social do Google em 2014
        | , junto a outras 9 ideias apresentadas por ONGs de todo o Brasil.
