#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Perguntas frequentes
        
  .page-section#faq_01
    .container
      .three.columns
        h2(translate) Como posso adquirir o Mãe d´Água?
      .six.columns
        p(translate) O Mãe d'Água está sendo testado pelo projeto Rede InfoAmazonia. Nesse momento, não há intenção do projeto de comercializar o equipamento. É hardware livre, e os arquivos necessários para produção estão disponíveis em:
        ul
          li
            a(href="https://github.com/InfoAmazonia/rede-hardware" rel="external" target="_blank") https://github.com/InfoAmazonia/rede-hardware (hardware)
          li
            a(href="https://github.com/InfoAmazonia/rede-firmware" rel="external" target="_blank") https://github.com/InfoAmazonia/rede-hardware (firmware)
