#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Mãe D'Água
        p(translate) O projeto Rede InfoAmazonia desenvolveu um hardware livre de monitoramento de qualidade da água em tempo real, que foi batizado como “Mãe d'Água". Inspirado no 
          a(href="http://publiclab.org/wiki/riffle" rel="external" target="_blank") Riffle
          | , o dispositivo é resultado da colaboração da equipe do projeto com a rede norte-americana de ciência cidadã 
          a(href="http://publiclab.org/" rel="external" target="_blank") Public Lab 
          | e a start-up 
          a(href="http://devtecnologia.com.br/sobre/quem-somos/" rel="external" target="_blank") Dev Tecnologia
          | , empresa incubada na Universidade de São Paulo.
        p(translate) O Mãe d´Água é capaz de realizar leitura parâmetros físico-químicos importantes que ajudam a identificar potencial de contaminação da água.

      //- p
      //-   a.button(href="#" translate) Baixar manual

  .page-section#tecnicos
    .container
      .three.columns
        h2(translate) Aspectos técnicos
      .six.columns
        ul
          li(translate)
            strong Parâmetros monitorados: 
            | condutividade elétrica, pH, potencial de oxidação/redução (ORP), temperatura, pressão barométrica e temperatura do equipamento.
          li(translate)
            strong Aplicação: 
            | o equipamento pode ser utilizado para monitoramento da qualidade da água em caixas d´água, cisternas, reservatórios, corpos de água superficial com baixa vazão.
          li(translate)
            strong Comunicação: 
            | A coleta de dados é feita automaticamente a cada hora, e as leituras são enviadas em tempo real via rede de telefonia móvel para um servidor.
          li(translate) 
            strong Manutenção: 
            | A calibração dos sensores deve ser feita periodicamente. As ponteiras devem ser limpas periodicamente para evitar acúmulo de resíduos que podem afetar as leituras.
          
  .page-section#desenvolvimento
    .container
      .three.columns 
        h2(translate) Desenvolvimento
      .six.columns
        p(translate) Os 
          a(href="https://github.com/InfoAmazonia/rede-hardware" rel="external" target="_blank") arquivos necessários para produção do equipamento
          | , bem como seu 
          a(href="https://github.com/InfoAmazonia/rede-firmware" rel="external" target="_blank") firmware
          |, estão disponíveis em licença MIT. O hardware é modular:
        ul
          li(translate) 
            strong Módulo 1 (M1): 
            | composto por um Arduino Mega, responsável por todo o processamento das informações capturadas pelos sensores e pela alimentação de energia do conjunto (conectado a uma fonte externa).
          li(translate)
            strong Módulo 2 (M2): 
            | um shield para Arduino que possui o sensor de pressão barométrica e conectores para acoplamento dos sensores de pH, ORP, condutividade e temperatura da água. Desta forma modular, é possível selecionar os sensores a serem utilizados visando o custo benefício da aplicação específica desejada.
          li(translate)
            strong Módulo 3 (M3): 
            | responsável pela comunicação via rede de telefonia celular, capaz de transmitir os dados por Internet para um servidor.

  .page-section#limitacoes
    .container
      .three.columns
        h2(translate) Limitações
      .six.columns
        p(translate) Devido ao caráter de medição em tempo real, os resultados são considerados provisórios e não conclusivos, e são sujeitos a equívocos e incertezas. Os dados podem conter valores inexatos devido a mal funcionamento do equipamento. Eventualmente os equipamentos serão desconectados para manutenção.

        p(translate) Os resultados são acessíveis através deste site e alertam sobre 
          b(translate) possível
          |  contaminação, sem fornecer um resultado conclusivo.

        p(translate) Ao observar potencial de contaminação a partir dos dados do site, devem ser relizadas outras análises.
