#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Rede de monitoramento
        p(translate) 73% da água doce do Brasil está na Amazônia. No entanto, o índice de água tratada nessa região é aproximadamente 22% inferior ao resto do Brasil. Ou seja, embora a água doce seja abundante na Amazônia, a população ainda enfrenta dificuldades para ter acesso a água potável. A má qualidade da água para consumo humano é decorrente tanto da contaminação dos rios pela decomposição natural de matéria orgânica de origem animal ou vegetal e provêm dos esgotos domésticos e de diversos processos industriais ou agropecuários. Contrariamente aos resíduos orgânicos, a matéria inorgânica que vem de indústrias não se decompõe naturalmente, pode matar micro-organismos, plantas e animais aquáticos, e tornar a água imprópria para o consumo ou para o banho.

  .container
    .six.columns.offset-by-three

      p(translate) A água própria para o consumo, chamada de água potável, é aquela que não tem micróbios patogênicos, nem substâncias químicas além dos limites de tolerância e não é desagradável pelo seu aspecto, a quaisquer dos nossos sentidos (visão, olfato, tato e paladar).
      
      p(translate) O controle da qualidade da água para consumo humano é fundamental para a garantia da saúde. O monitoramento da qualidade da água deve ser feito regularmente pelo responsável pelo sistema de abastecimento de água, destinado a verificar se a água fornecida à população é potável. Medidas preventivas simples como desinfectar a água com cloro podem evitar ou eliminar organismos patogênicos transmitidos pela água.

      p(translate) Abaixo são descritos alguns parâmetros utilizados para monitorar qualidade da água. Se você quer mais detalhes sobre algum dos parâmetros listados abaixo, veja as referências.

      p(translate) Para entender melhor as descrições abaixo, é importante entender que um íon é qualquer átomo ou grupo de átomos que tem carga positiva ou negativa. Íons são formados pela adição ou remoção de elétrons a, ou remoção de elétrons de, átomos ou moléculas ou outros íons; pela combinação de íons com outras partículas; ou pela ruptura de um vínculo covalente entre 2 átomos de modo que ambos os elétrons do vínculo são deixados em associação a um dos átomos da reação.

  .page-section#condutividade
    .container
      .three.columns
        h2(translate) Condutividade elétrica
      .six.columns
        p(translate) "Condutividade é uma medida da capacidade da água de passar uma corrente elétrica. Essa habilidade é diretamente relacionada com a concentração de íons na água. Esses íons condutivos vêm de sais dissolvidos e outros materiais inorgânicos. (...) Quantos mais íons estiverem presentes, maior a condutividade da água. Do mesmo modo, quanto menos íons houverem na água, menos condutiva ela é. Água destilada ou desionizada pode agir como isolante devido à sua condutividade muito baixa. Água do mar, por outro lado, tem uma condutividade muito alta."
          sup 
            a(href="#sup-2") [2]
        
        p(translate) Condutividade é uma maneira indireta de medir concentração de poluentes, e mudanças em seu nível indica mudanças na composição da água.
          sup 
            a(href="#sup-3") [3]
          |  Água entre 0 - 2500 μS/cm pode ser consumida por humanos, apesar de que estes preferem água na primeira metade dessa variação se estiver disponível. 
          sup 
            a(href="#sup-4") [4]
  
  .page-section#ph
    .container
      .three.columns
        h2(translate) pH
      .six.columns
        p(translate) "pH é a medida de quão ácida/básica é a água."
          sup 
            a(href="#sup-5") [5]
          |  Um nível 7 de pH é neutro, valores "menores que 7 indicam acidez, e valores maiores que 7 indicam uma base. pH é a medida relativa da quantidade de íons de hidrogênio e hidroxilo na água. Água que tem mais íons de hidrogênio livres é ácida, e água que tem mais íons de hidroxilo é básica. Como o pH pode ser afetado por substâncias químicas na água, pH é um importante indicador de água que está mudando quimicamente."
          sup
            a(href="#sup-5") [5]
        
        p(translate) "O pH ótimo vai variar em diferentes fornecedores a partir da composição da água e da natureza da construção dos materiais no sistema de distribuição."
          sup 
            a(href="#sup-6") [6]
          |  O Governo Brasileiro recomenda manter o nível de pH em sistemas de distribuição entre 6 e 9,5.
          sup 
            a(href="#sup-7") [7]

  .page-section#orp
    .container
      .three.columns
        h2(translate) ORP
      .six.columns
        p(translate) "Da mesma maneira que a transferência de íons de hidrogênio entre espécies químicas determina o pH de uma solução aquosa, a transferência de elétrons entre espécies químicas determina o"
          sup 
            a(href="#sup-8") [8]
          |  potencial de oxidação/redução (ORP, ou potencial redox) "de uma solução aquosa. Assim como o pH, o potencial de redução representa quão fortemente elétrons são transferidos de ou para espécies em uma solução."
          sup 
            a(href="#sup-8") [8]
        
        p(translate) ORP mede a habilidade da água "de limpar-se ou quebrar produtos como contaminantes e plantas e animais mortos. Quando o valor do ORP é alto, existe muito oxigênio presente na água. Isso significa que bactérias que decompõem tecidos mortos e contaminantes pode trabalhar com mais eficiência. Em geral, quanto maior o valor do ORP, mais saudável é a água."
          sup 
            a(href="#sup-9") [9]

        p(translate) "É possível definir um nível do ORP necessário para assegurar desinfecção efetiva. Esse valor deve ser determinado caso a caso; valores universais não são recomendados. Mais pesquisa e avaliação do ORP como uma técnica operacional de monitoramento é altamente recomendada pela Organização Mundial de Saúde."
          sup 
            a(href="#sup-10") [10]
        
  .page-section#temperatura
    .container
      .three.columns
        h2(translate) Temperatura
      .six.columns
        p(translate) "A temperatura é um fator importante para considerar ao monitorar qualidade da água. Além de seus próprios efeitos, a temperatura influencia vários outros parâmetros e pode alterar as propriedades químicas e físicas da água. Desse modo, a temperatura da água deve ser considerada ao determinar"
          sup [11]
          |  (entre outros):
        
        ul
          li(translate) 
            | "Condutividade (...);
          li(translate) 
            | pH;
          li(translate) 
            | ORP".
            sup [11]

  .page-section#equipamento
    .container
      .three.columns
        h2(translate) Temperatura do equipamento
      .six.columns
        p(translate) A temperatura de equipamentos eletrônicos interfere em seu funcionamento. Para verificar se houve alguma interferência durante uma leitura, o Mãe d'Água monitora a temperatura do equipamento ao mesmo tempo que faz as outras leituras.

  .page-section#referencias
    .container
      .nine.columns
        h1(translate) Referências

        ul(style="list-style-type:none")
          li#sup-1
            sup [1] 
            a(href="http://global.britannica.com/science/ion-physics" target="_blank" rel="external") http://global.britannica.com/science/ion-physics
          li#sup-2
            sup [2] 
            a(href="http://www.fondriest.com/environmental-measurements/parameters/water-quality/conductivity-salinity-tds/" target="_blank" rel="external") http://www.fondriest.com/environmental-measurements/parameters/water-quality/conductivity-salinity-tds/
          li#sup-3
            sup [3] 
            a(href="http://cetesb.sp.gov.br/aguas-interiores/wp-content/uploads/sites/32/2013/11/variaveis.pdf" target="_blank" rel="external") http://cetesb.sp.gov.br/aguas-interiores/wp-content/uploads/sites/32/2013/11/variaveis.pdf
          li#sup-4
            sup [4] 
            a(href="http://agriculture.vic.gov.au/agriculture/farm-management/soil-and-water/salinity/measuring-the-salinity-of-water" target="_blank" rel="external") http://agriculture.vic.gov.au/agriculture/farm-management/soil-and-water/salinity/measuring-the-salinity-of-water
          li#sup-5
            sup [5] 
            a(href="http://water.usgs.gov/edu/ph.html" target="_blank" rel="external") http://water.usgs.gov/edu/ph.html
          li#sup-6
            sup [6] 
            a(href="http://www.who.int/water_sanitation_health/dwq/chemicals/en/ph.pdf" target="_blank" rel="external") http://www.who.int/water_sanitation_health/dwq/chemicals/en/ph.pdf
          li#sup-7
            sup [7] 
            a(href="http://site.sabesp.com.br/uploads/file/asabesp_doctos/kit_arsesp_portaria2914.pdf" target="_blank" rel="external") http://site.sabesp.com.br/uploads/file/asabesp_doctos/kit_arsesp_portaria2914.pdf
          li#sup-8
            sup [8] 
            a(href="https://en.wikipedia.org/wiki/Reduction_potential" target="_blank" rel="external") https://en.wikipedia.org/wiki/Reduction_potential
          li#sup-9
            sup [9] 
            a(href="http://www.enr.gov.nt.ca/sites/default/files/oxidation-reduction_potential.pdf" target="_blank" rel="external") http://www.enr.gov.nt.ca/sites/default/files/oxidation-reduction_potential.pdf
          li#sup-10
            sup [10] 
            a(href="http://www.who.int/water_sanitation_health/dwq/fulltext.pdf?ua=1" target="_blank" rel="external") http://www.who.int/water_sanitation_health/dwq/fulltext.pdf?ua=1
          li#sup-11
            sup [11] 
            a(href="http://www.fondriest.com/environmental-measurements/parameters/water-quality/water-temperature/" target="_blank" rel="external") http://www.fondriest.com/environmental-measurements/parameters/water-quality/water-temperature/
