#page
  .page-intro
    .container
      .nine.columns
        h2 Rede de monitoramento
        p Em parceria com o Projeto Saúde e Alegria - articulação com lideranças de comunidades ribeirinhas - e apoio das Secretarias de Meio Ambiente dos municípios de Santarém e Belterra, no Pará, serão escolhidos vinte pontos onde será feita a instalação dos equipamentos de monitoramento. A implantação está prevista para acontecer no último trimestre de 2015 após um ciclo de oficinas sobre tecnologias livres, meio ambiente e comunicação, que já foi iniciado. Após a instalação dos sensores será lançado o site onde as análises estarão disponíveis para visualização e download dos resultados.

  .container> li 
    .six.columns.offset-by-three

      p Em sua fase piloto, beneficiará 20 comunidades da zona urbana de Belterra e Santarém, Reserva Extrativista Tapajós Arapiuns e Floresta Nacional do Tapajós, no Oeste do Pará. O sensor e sistema desenvolvidos por nossa equipe e parceiros será capaz de medir parâmetros básicos de qualidade d'água e alertar governo, cidadãos e organizações não governamentais através do sistema de alerta para celulares (SMS) e aplicativos de mapeamento da web.

  .page-section#formacao
    .container
      .three.columns
        h2 Formação da Rede
      .six.columns
        p A escolha dos pontos de monitoramento dependem do engajamento de lideranças locais no monitoramento participativo, conexão 3G, população local com indícios de contaminação de fontes de abastecimento. 
  
  .page-section#atividades
    .container
      .three.columns
        h2 Atividades de formação
      .six.columns
        p txt oficinas
        
  .page-section#resultados
    .container
      .three.columns
        h2 Resultados
      .six.columns
        p ..
