#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Rede de monitoramento
        p(translate) A rede de monitoramento do Rede InfoAmazonia abrange análises de amostras de água de sistemas públicos, microssistemas coletivos e de abastecimento individual. Em sua fase piloto, o projeto beneficia os municípios de Belterra, Mojuí dos Campos e Santarém, localizados na região do Baixo Tapajós, no Oeste do Pará.

  .container
    .six.columns.offset-by-three

      p(translate) Os microssistemas coletivos captam água diretamente dos lençóis freáticos através de poços profundos. Entre os pontos de monitoramento selecionados, apenas o sensor Zona Urbana de Belterra analisa a água em seu ponto final de distribuição. Em todos os outros a análise é feita no ponto de captação.
      
      p(translate) Em Belterra, a rede de monitoramento piloto é formada pelos pontos na zona urbana e comunidades da Floresta Nacional do Tapajós (Jamaraquá, São Domingos e Maguary). Em Mojuí dos Campos, participam da rede a  Escola Municipal de Ensino Fundamental Raimunda Queiroz de Sousa e o Micro sistema de abastecimento de Alto Alegre. Os pontos de monitoramento de Santarém são distribuídos na zona urbana (Projeto Saúde e Alegria, Escola Professor Aldo Ferreira Campos,  Escola São Francisco e Poço individual no bairro Alvorada), zona rural (Escola Irmça Dorothy Mae Stang) e também na Reserva Extrativisita Tapajós-Arapiuns (Centro Experimental Floresta Ativa, comunidades de Anumã, de Solimões, Pedra Branca e Carão, Escola Nossa Senhora Aparecida e Aldeia Vista Alegre de Capixauã).
      
      p(translate) Saiba mais sobre como está a qualidade da água em cada local. A periodicidade de atualização do monitoramento pode variar em função do fornecimento de energia elétrica para acionar o equipamento Mãe d´Água. As análises estão disponíveis para visualização e download.

  .page-section#formacao
    .container
      .three.columns
        h2(translate) Formação da Rede
      .six.columns
        p(translate) Em parceria com o Projeto Saúde e Alegria, articulação com lideranças de comunidades ribeirinhas, apoio do Laboratório Mídias Eletrônicas da UFOPA e Secretarias de Meio Ambiente dos municípios de Santarém e Belterra, no Pará, foram escolhidos dezoito pontos onde foi feita a instalação dos equipamentos de monitoramento. A implantação aconteceu na segunda quinzena de outubro de 2015 após um ciclo de oficinas sobre tecnologias livres, meio ambiente e jornalismo cidadão.
        
        p(translate) Tendo em vista a importância do abastecimento através de sistemas alternativos, o projeto priorizou o monitoramento de microssistemas coletivos implantados através de parcerias  e geridos pela própria comunidade, com especial destaque às populações que moram em unidades de conservação e uso sustentável. É importante destacar que no estado do Pará apenas 47,92% das residências são atendidas pela rede pública de abastecimento, e que 36,78% dos domicílios particulares permanentes são servidos por água proveniente de poço ou nascente. 
          a(href="http://visaguas.infoamazonia.org/" rel="external" target="_blank") Saiba mais sobre Abastecimento e Doenças na Amazônia
        
        p(translate) A escolha dos pontos que compõem a rede teve como critérios eliminatórios o engajamento de lideranças locais no monitoramento participativo e conexão 2G no local do reservatório onde é feito o monitoramento. Os voluntários foram selecionados durante das atividades de formação.
  
  .page-section#atividades
    .container
      .three.columns
        h2(translate) Atividades de formação
      .six.columns
        p(translate) Foram realizados dois ciclos de atividades de mobilização e formação sobre tecnologias livres e comunicação cidadã entre março e outubro de 2015.
        
        h3(translate) Ciclo de oficinas 1 - Introdução a tecnologias livres e jornalismo cidadão
        
        p(translate) Entre 5 e 9 de março foram realizadas oficinas na Escola do Parque, no Centro Municipal de Informação e Educação Ambiental (Santarém) e no Colégio Santo Antônio (Belterra), com grupos de estudantes e jovens lideranças Nestas oficinas, Guima San e pixel apresentaram uma introdução sobre o conceito e parâmetros de análise de  qualidade d’água. Giovanny Vera abordou temas de jornalismo cidadão para oferecer informação e treinamento no uso de novas tecnologias para a construção de histórias e notícias geradas por eles mesmos e em suas comunidades.
        
        h3(translate) Ciclo de oficinas 2 - Formação para implantação da rede e oficina  jornalismo cidadão
        
        p(translate) Em 16 e 21 de outubro de 2015, os instrutores Paloma Oliveira e pixel realizaram oficinas para apresentar o sistema de monitoramento do Rede InfoAmazonia e formar agentes comunitários que realizem a instalação e manutenção do equipamento. Em 16 de outubro, a atividade reuniu doze participantes na UFOPA - Unidade Amazônia (Santarém) e no dia 21, sete pessoas participaram a oficina no Centro Experimental Floresta Ativa (Reserva Extrativista Tapajós-Arapiuns - Santarém). 
        
        p(translate) No dia 23 de outubro de 2015, Gustavo Faleiros ministrou uma oficina de Jornalismo Cidadão. Os participantes aprenderam a produzir conteúdo informativo a partir de questões das próprias comunidades, como fazer coberturas e levantamento de informação com celulares, a alimentação jornalística de redes sociais, a produção e edição de conteúdo multimídia (vídeos, áudios, fotos, mapas e transmissões ao vivo), além da publicação para web.
        
  //- .page-section#resultados
  //-   .container
  //-     .three.columns
  //-       h2(translate) Resultados
  //-     .six.columns
  //-       p ..
