#page
  .container
    .three.columns
        h2 Imprensa
    .nine.columns
      ul.press-list
        li 
          h3 IJNET International Journalists’ Network
          p.date 30 de abril de 2014
          p.description 
            a(href="http://ijnet.org/blog/using-sensors-test-and-report-water-quality-fast-urbanizing-amazon-cities" target="_blank" rel="external") Using sensors to test and report on water quality in fast-urbanizing Amazon cities 
        li
          h3 International Center for Journalists
          p.date 01 de maio de 2014
          p.description 
            a(href="http://www.icfj.org/news/infoamazonia-finalist-google-social-impact-challenge-brazil" target="_blank" rel="external") InfoAmazonia is a Finalist of the Google Social Impact Challenge in Brazil
        li 
          h3 Vice
          p.date 12 de setembro de 2014
          p.description
            a(href="http://motherboard.vice.com/pt_br/read/a-rede-infoamazonia-quer-descobrir-a-qualidade-da-agua-no-norte-do-brasil" target="_blank" rel="external") A Rede InfoAmazônia Quer Monitorar a Qualidade da Água no Norte do Brasil
        li
          h3 InfoAmazonia
          p.date 20 de outubro de 2014
          p.description
            a(href="http://infoamazonia.org/pt/blog/portugues-infoamazonia-participa-de-encontro-sobre-monitoramento-ambiental-por-comunidades/" target="_blank" rel="external") Hackers unidos para criar aplicativos e sensores sobre qualidade d´água
        li
          h3 InfoAmazonia
          p.date 14 de novembro de 2014
          p.description
            a(href="http://infoamazonia.org/pt/blog/portugues-infoamazonia-participa-de-encontro-sobre-monitoramento-ambiental-por-comunidades/" target="_blank" rel="external") InfoAmazonia participa de encontro sobre monitoramento ambiental por comunidades
        li
          h3 Blog do InfoAmazonia na UOL
          p.date 26 de fevereiro de 2015
          p.description
            a(href="http://infoamazonia.blogosfera.uol.com.br/2015/02/26/rede-de-sensores-vai-monitorar-qualidade-dagua-das-comunidades-na-amazonia/" target="_blank" rel="external") Rede de sensores vai monitorar qualidade d’água das comunidades na Amazônia
        li
          h3 G1
          p.date 06 de março de 2015
          p.description
            a(href="http://g1.globo.com/pa/santarem-regiao/noticia/2015/03/projeto-capacita-ribeirinhos-para-monitorar-qualidade-da-agua-no-pa.html" target="_blank" rel="external") Moradores são capacitados para monitorar qualidade da água no PA
        li
          h3 Blog do InfoAmazonia no UOL
          p.date 10 de abril de 2015
          p.description
            a(href="http://infoamazonia.blogosfera.uol.com.br/2015/04/10/infoamazonia-faz-oficinas-com-ribeirinhos-na-regiao-do-tapajos/" target="_blank" rel="external") InfoAmazônia faz oficinas com ribeirinhos na região do Tapajós
        li
          h3 Global Voices
          p.date 17 de abril de 2015
          p.description
            a(href="http://pt.globalvoicesonline.org/2015/04/17/infoamazonia-leva-oficinas-de-monitoramento-de-qualidade-da-agua-a-regiao-do-tapajos/" target="_blank" rel="external") InfoAmazônia leva oficinas de monitoramento de qualidade da água à região do Tapajós
        li 
          h3 Observatório de UCs da WWF-Brasil
          p.date 30 de Abril de 2015
          p.description
            a(href="http://observatorio.wwf.org.br/blog/2015/04/30/projeto-pioneiro-colocara-sensores-baratos-de-qualidade-dagua-na-amazonia1/" target="_blank" rel="external") Projeto pioneiro colocará sensores baratos de qualidade d’água na Amazônia
        li
          h3 Blog do InfoAmazonia no UOL
          p.date 06 de junho de 2015
          p.description
            a(href="http://infoamazonia.blogosfera.uol.com.br/2015/07/06/rede-infoamazonia-cria-o-mae-dagua-para-monitorar-a-qualidade-dagua/" target="_blank" rel="external") Rede InfoAmazonia cria o “Mãe d’Água” para monitorar a qualidade d’água
        li
          h3 CanalTech
          p.date 11 de junho de 2015
          p.description
            a(href="http://canaltech.com.br/noticia/ciencia/rede-desenvolve-dispositivo-open-source-para-medir-qualidade-da-agua-na-amazonia-43127/" target="_blank" rel="external") Rede desenvolve dispositivo open-source para medir qualidade da água na Amazônia
        li
          h3 Public Lab
          p.description 
            a(href="http://publiclab.org/wiki/mae-d-agua-rede-infoamazonia" target="_blank" rel="external") Mãe d’Água – Rede InfoAmazonia
