#page
  .container
    .three.columns
        h2 Imprensa
    .nine.columns
      ul.press-list
        li 
          h3 IJNET International Journalists’ Network
          p.date 30 de abril de 2014
          p.description Using sensors to test and report on water quality in fast-urbanizing Amazon cities 
        li
          h3 International Center for Journalists
          p.date 01 de maio de 2014
          p.description InfoAmazonia is a Finalist of the Google Social Impact Challenge in Brazil
        li 
          h3 Vice
          p.date 12 de setembro de 2014
          p.description A Rede InfoAmazônia Quer Monitorar a Qualidade da Água no Norte do Brasil
        li
          h3 InfoAmazonia
          p.date 20 de outubro de 2014
          p.description Hackers unidos para criar aplicativos e sensores sobre qualidade d´água
        li
          h3 InfoAmazonia
          p.date 14 de novembro de 2014
          p.description InfoAmazonia participa de encontro sobre monitoramento ambiental por comunidades
        li
          h3 Blog do InfoAmazonia na UOL
          p.date 26 de fevereiro de 2015
          p.description Rede de sensores vai monitorar qualidade d’água das comunidades na Amazônia
        li
          h3 G1
          p.date 06 de março de 2015
          p.description Moradores são capacitados para monitorar qualidade da água no PA
        li
          h3 Blog do InfoAmazonia no UOL
          p.date 10 de abril de 2015
          p.description InfoAmazônia faz oficinas com ribeirinhos na região do Tapajós
        li
          h3 Global Voices
          p.date 17 de abril de 2015
          p.description InfoAmazônia leva oficinas de monitoramento de qualidade da água à região do Tapajós
        li 
          h3 Observatório de UCs da WWF-Brasil
          p.date 30 de Abril de 2015
          p.description Projeto pioneiro colocará sensores baratos de qualidade d’água na Amazônia
        li
          h3 Blog do InfoAmazonia no UOL
          p.date 06 de junho de 2015
          p.description Rede InfoAmazonia cria o “Mãe d’Água” para monitorar a qualidade d’água
        li
          h3 CanalTech
          p.date 11 de junho de 2015
          p.description Rede desenvolve dispositivo open-source para medir qualidade da água na Amazônia
        li
          h3 Public Lab Mãe d’Água – Rede InfoAmazonia
