#colophon
  .container
    .four.columns
      &nbsp;
    .four.columns
      h3(translate) Project by
      a(href="http://infoamazonia.org" rel="external" target="_blank")
        img.ia(src="/img/logos/ia.png" alt="InfoAmazonia")
    .four.columns
      h3(translate) Partnership
      a(href="http://www.saudeealegria.org.br/" rel="external" target="_blank")
        img.sa(src="/img/logos/saude_alegria.png" alt="Saúde e Alegria")
      a(href="http://devtecnologia.com.br/" rel="external" target="_blank")
        img.dev(src="/img/logos/dev.png" alt="DEV Tecnologia")
.message-notification(ng-controller="MessageCtrl")
  .message-item(ng-repeat="message in messages" ng-show="message.text")
    .message-content
      a.close-button(ng-click="close(message)" href="javascript:void(0);") x
      p(ng-class="message.status" ng-bind-html="getMessage(message)")
