header#masthead.row
	.container
		.four.columns
			h1 
				a(ui-sref='home' translate)
					span Rede
					| InfoAmazonia
		.eight.columns
			nav#mastnav
				ul
					li
						a(ui-sref="about" translate) Projeto
						ul
							li
								a(ui-sref="press" translate) Imprensa
					li
						a(ui-sref="network" translate) Rede
						ul
							li
								a(ui-sref="network" translate) Rede de monitoramento
							li
								a(ui-sref="network({'#': 'formacao'})" translate) Formação da rede
							li
								a(ui-sref="network({'#': 'atividades'})" translate) Atividades de formação
							//- li
							//- 	a(ui-sref="network({'#': 'resultados'})" translate) Resultados
					li
						a(ui-sref="monitoring" translate) Monitoramento
						ul
							li
								a(ui-sref="monitoring({'#': 'condutividade'})" translate) Condutividade
							li
								a(ui-sref="monitoring({'#': 'ph'})" translate) pH
							li
								a(ui-sref="monitoring({'#': 'orp'})" translate) ORP
							li
								a(ui-sref="monitoring({'#': 'temperatura'})" translate) Temperatura
							li
								a(ui-sref="monitoring({'#': 'equipamento'})" translate) Temperatura do equipamento
					li
						a(ui-sref="maedagua" translate) Mãe D'Água
						ul
							li
								a(ui-sref="maedagua({'#': 'tecnicos'})" translate) Aspectos ténicos
							li
								a(ui-sref="maedagua({'#': 'parametros'})" translate) Parâmetros monitorados
							li
								a(ui-sref="maedagua({'#': 'desenvolvimento'})" translate) Desenvolvimento
							li
								a(ui-sref="maedagua({'#': 'limitacoes'})" translate) Limitações
					li
						a(ui-sref="faq" translate) FAQ
					li(ng-controller="AuthCtrl")
						a(ui-sref="login" ng-hide="token" translate) Entrar
						a(ui-sref="account" ng-show="token") 
							span(translate) Minha conta 
							span.icon-chevron-down
						ul.account(ng-show="token")
							li
								a(ui-sref="admin" ng-show="token.role == 'admin'" translate) Área administrativa
							li 
								a(ui-sref="account" translate) Editar minha conta
							li 
								a(ui-sref="account.sensors" translate) Sensores assinados
							li 
								a(href="#" ng-click="logout()" translate) Sair 
					li.language-switcher(ng-controller="LanguageCtrl")
						p(ng-click="setLanguage('pt_BR')" ng-class="{'active': lang == 'pt_BR'}") pt
						p(ng-click="setLanguage('en')" ng-class="{'active': lang == 'en'}") en
