header#masthead.row
	.container
		.four.columns
			h1 
				a(ui-sref='home')
					span Rede
					| InfoAmazonia
		.eight.columns
			nav#mastnav
				ul
					li
						a(ui-sref="about") Sobre o projeto
						ul
							li
								a(ui-sref="press") Imprensa
					li
						a(ui-sref="maedagua") Mãe D'Água
					li
						a(ui-sref="aboutData") Sobre os Dados
					li
						a(ui-sref="network") Rede de Monitoramento
					li(ng-controller="AuthCtrl")
						a(ui-sref="login" ng-hide="token") Entrar
						a(ui-sref="account" ng-show="token") 
							| Minha conta 
							span.icon-chevron-down
						ul.account(ng-show="token")
							li
								a(ui-sref="admin" ng-show="token.role == 'admin'") Área administrativa
							li 
								a(ui-sref="account") Editar minha conta
							li 
								a(ui-sref="account.sensors") Sensores assinados
							li 
								a(href="#" ng-click="logout()") Sair 
