header#masthead.row
	.container
		.four.columns
			h1 
				a(ui-sref='home')
					span Rede
					| InfoAmazonia
		.eight.columns
			nav#mastnav
				ul
					li
						a(href="#") Sobre os sensores
					li
						a(href="#") Metodologia
					li
						a(href="#") Parceiros
					li(ng-controller="AuthCtrl")
						a(ui-sref="login" ng-hide="token") Entrar
						a(ui-sref="account" ng-show="token") 
							| Minha conta 
							span.icon-chevron-down
						ul.account(ng-show="token")
							li 
								a(ui-sref="account") Editar minha conta
							li 
								a(ui-sref="account.sensors") Sensores assinados
							li 
								a(href="#" ng-click="logout()") Sair 
