header#masthead
	.container
		.six.columns
			h1 Rede InfoAmazonia
		.six.columns
			nav#mastnav
				ul
					li
						a(href="#") Sobre os sensores
					li
						a(href="#") Metodologia
					li
						a(href="#") Parceiros