#account
  .container
    .six.columns.offset-by-three
      h2 
        a(ui-sref="account" translate) Meu perfil
      div(ui-view autoscroll="false")
        form#profile(ng-submit="updateProfile(user)")
          p
            input(type="text" placeholder="{{'Seu nome' | translate}}" ng-model="user.name")
          p
            input(type="text" placeholder="{{'Seu email' | translate}}" ng-model="user.email")
          p
            input(type="text" placeholder="{{'Seu telefone' | translate}}" ng-model="user.phoneNumber" international-phone-number preferred-countries="br" utils-script="/lib/intl-tel-input/utils.js")
          p
            input(type="submit" value="{{'Atualizar' | translate}}")
            
        form#password(ng-submit="updatePwd(pwd)")
          h3(translate) Atualizar senha
          p
            input(type="password" placeholder="{{'Senha atual' | translate}}" ng-model="pwd.oldPassword")
          p
            input(type="password" placeholder="{{'Nova senha' | translate}}" ng-model="pwd.password")
          p
            input(type="password" placeholder="{{'Repetir nova senha' | translate}}" ng-model="pwd.password_repeat")
          p
            input(type="submit" value="{{'Atualizar' | translate}}")
