#account-sensors
  h3 Sensores assinados
  p(ng-hide="sensors.length") Você ainda não assinou nenhum sensor!
  ul.account-sensors-list
    li(ng-repeat="sensor in sensors")
      h4 
        a(ui-sref="sensor({sensorId: sensor._id})"){{sensor.name}}
      p(ng-controller="SensorSubscription")
        a(ng-click="unsubscribe(sensor._id)") Cancelar assinatura
