form#auth-form(ng-submit="auth(user)")
  p(ng-show="form == 'register'")
    a.button.bold(ng-click="switch('login')" href="#" translate) Eu já tenho uma conta
  p(ng-show="form == 'login'")
    a.button.bold(ng-click="switch('register')" href="#" translate) Ainda não tenho uma conta
  p(ng-show="form == 'register'")
    input(type="text" placeholder="{{'Seu nome' | translate}}" ng-model="user.name")
  p
    input(type="text" placeholder="{{'Seu email' | translate}}" ng-model="user.email")
  p(ng-show="form == 'register'")
    input(type="text" placeholder="{{'Seu telefone' | translate}}" ng-model="user.phoneNumber" international-phone-number preferred-countries="br" utils-script="/lib/intl-tel-input/utils.js")
  p
    input(type="password" placeholder="{{'Senha' | translate}}" ng-model="user.password")
  p(ng-show="form == 'register'")
    input(type="password" placeholder="{{'Repetir senha' | translate}}" ng-model="user.password_repeat")
  p
    input(type="submit" value="{{submitLabel}}")
