section#home
	#about
		.container
			.twelve.columns
				.main-text
					h2
						strong.first(ng-mouseover="resetAbout('sensor')" ng-class="{active: aboutText == 'sensor'}") Sensores ambientais
						br
						| conectados via 
						strong(ng-mouseover="resetAbout('sim')" ng-class="{active: aboutText == 'sim'}") redes móveis
						br 
						| para gerar indicadores de 
						strong(ng-mouseover="resetAbout('water')" ng-class="{active: aboutText == 'water'}") qualidade da água
						br 
						| em cidades da 
						strong(ng-mouseover="resetAbout('forest')" ng-class="{active: aboutText == 'forest'}") Amazônia Brasileira
				.details
					.about-text(ng-show="aboutText == 'sensor'")
						.image(style="background-image:url(/img/sensor.png);")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare. 
							a(href="#") Donec sem dolor
							| , convallis at interdum et, accumsan imperdiet ex. Vestibulum feugiat id felis a vehicula. Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. 
					.about-text(ng-show="aboutText == 'sim'")
						.image(style="background-image:url(/img/sim.png)")
						p Donec sem dolor, convallis at interdum et, accumsan imperdiet ex. 
							a(href="#") Vestibulum feugiat 
							| id felis a vehicula. Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare.
					.about-text(ng-show="aboutText == 'water'")
						.image(style="background-image:url(/img/water.png)")
						p Vestibulum feugiat id felis a vehicula. Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare. Donec sem dolor, convallis at interdum et, accumsan imperdiet ex.
					.about-text(ng-show="aboutText == 'forest'")
						.image(style="background-image:url(/img/forest.png)")
						p Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare. Donec sem dolor, convallis at interdum et, accumsan imperdiet ex. Vestibulum feugiat id felis a vehicula.
	#sensor-map.row
		.sensor-map-container
			leaflet#map(center="map.center" layers="map.layers" legend="legend" markers="map.markers" geojson="map.geojson" defaults="map.options")
		.sensor-map-info(ng-hide="sensor")
			h2 Sensores
			ul.sensor-list
				li.sensor-item(ng-repeat="(i, sensor) in sensors" ng-click="setSensor(1)")
					.sensor-content
						h3 Sensor # {{i+1}}
		span.icon-cross.close(ng-show="sensor" ng-click="setSensor(false)")
		sensor-summary(sensor="sensor" ng-show="sensor")
	#city-data.row
		.container
			.twelve.columns
				h2 Qualidade da água e doenças na Amazônia
		.container
			.six.columns
				p A Amazônia detém a maior quantidade de água doce do Brasil, 73% de toda vazão hídrica.
				p Mas o acesso ao saneamento nos 771 munícipios da região está entre as piores do país.
				p Na Amazônia Legal, 60% dos munícipios são atendidos por rede geral de água. A média nacional é de 82,7% 