section#home.anti-row
	#about
		.container
			.twelve.columns
				.main-text
					h2
						strong.first(ng-mouseover="resetAbout('sensor')" ng-class="{active: aboutText == 'sensor'}") Sensores ambientais
						br
						| conectados via 
						strong(ng-mouseover="resetAbout('sim')" ng-class="{active: aboutText == 'sim'}") redes móveis
						br 
						| para gerar indicadores de 
						strong(ng-mouseover="resetAbout('water')" ng-class="{active: aboutText == 'water'}") qualidade da água
						br 
						| em cidades da 
						strong(ng-mouseover="resetAbout('forest')" ng-class="{active: aboutText == 'forest'}") Amazônia Brasileira
				.details
					.about-text(ng-show="aboutText == 'sensor'")
						.image(style="background-image:url(/img/sensor.png);")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare. 
							a(href="#") Donec sem dolor
							| , convallis at interdum et, accumsan imperdiet ex. Vestibulum feugiat id felis a vehicula. Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. 
					.about-text(ng-show="aboutText == 'sim'")
						.image(style="background-image:url(/img/sim.png)")
						p Donec sem dolor, convallis at interdum et, accumsan imperdiet ex. 
							a(href="#") Vestibulum feugiat 
							| id felis a vehicula. Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare.
					.about-text(ng-show="aboutText == 'water'")
						.image(style="background-image:url(/img/water.png)")
						p Vestibulum feugiat id felis a vehicula. Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare. Donec sem dolor, convallis at interdum et, accumsan imperdiet ex.
					.about-text(ng-show="aboutText == 'forest'")
						.image(style="background-image:url(/img/forest.png)")
						p Aenean libero nisl, luctus vel nibh vel, maximus tristique odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo sollicitudin ornare. Donec sem dolor, convallis at interdum et, accumsan imperdiet ex. Vestibulum feugiat id felis a vehicula.
	#sensors-map
		.sensor-map-container(ng-controller="MapCtrl")
			leaflet#map(center="map.center" layers="map.layers" legend="legend" markers="map.markers" geojson="geojson" defaults="map.options")
		.sensor-map-info(ng-hide="sensor")
			h2 Sensores
			ul.sensor-list
				li.sensor-item(ng-repeat="(i, sensor) in sensors" ng-click="setSensor(sensor._id)")
					.sensor-content
						h3 {{sensor.name}}
		#sensor-summary(ng-show="sensor")
			span.icon-cross.close(ng-click="setSensor(false)")
			sensor-summary(sensor="sensor")
			a.button(ui-sref="sensor({sensorId: sensor._id})") Ver detalhes deste sensor
	section#city-data.row
		header.city-data-header
			.container
				.six.columns
					h2 Qualidade da água e doenças na Amazônia
					p via 
						a.visaguas(href="http://visaguas.infoamazonia.org" rel="external" target="_blank") VISAGUAS
				.six.columns
					p A Amazônia detém a maior quantidade de água doce do Brasil, 73% de toda vazão hídrica.
					p Mas o acesso ao saneamento nos 771 munícipios da região está entre as piores do país.
					p Na Amazônia Legal, 60% das residências são atendidas pela rede geral de água. A média nacional é de 82,7%.
		iframe(width="100%" height="800" src="http://visaguas.infoamazonia.org/?theme=rede" frameborder="0")
