section#home
	#about
		.container
			.twelve.columns
				h2 Environmental sensors connected via mobile networks to generate indicators of water quality in cities in the Brazilian Amazon.
	#sensor-map.row
		.sensor-map-map
			leaflet#map(center="map.center" layers="map.layers" legend="legend" markers="map.markers" geojson="map.geojson" defaults="map.options")
		article.sensor-map-info
			header
				.clearfix
					span.icon-cross.close
					h2 Belterra #1
					span.status.ok Recebendo dados
				section
					latest-readings(amount="'3'" sensor="'1'")
			section
				sensor-chart-summary(sensor="'1'")
	#city-data.row
		.container
			.twelve.columns
				h2 Qualidade da água e doenças na Amazônia
		.container
			.six.columns
				p A Amazônia detém a maior quantidade de água doce do Brasil, 73% de toda vazão hídrica.
				p Mas o acesso ao saneamento nos 771 munícipios da região está entre as piores do país.
				p Na Amazônia Legal, 60% dos munícipios são atendidos por rede geral de água. A média nacional é de 82,7% 