section#home
	#about
		.container
			.twelve.columns
				h2 Environmental sensors connected via mobile networks to generate indicators of water quality in cities in the Brazilian Amazon.
	#sensor-map
		.sensor-map-map
			cartodb(map-id="teste" base-layer="map.baseLayer" layers="map.layers" bounds-index="'0'")
		article.sensor-map-info
			header
				h2 Belterra #1
					span.status.ok Recebendo dados
			section
				.sensor-chart
					nav.chart-nav
						a(ng-repeat="filter in chartFilters" href="javascript:void(0);" ng-click="chartMeasure(filter.type, filter.label)" ng-class="{active: currentFilter.type == filter.type}") {{filter.label}}  
					.chart
						reading-chart(dataset="readings" type="currentFilter.type" label="currentFilter.label")