article#sensor
	header#sensor-header.sub-header.anti-row.row(scroll-fixed use-width="0")
		.sensor-map(ng-controller="MapCtrl")
			leaflet#map(center="map.center" layers="map.layers" legend="legend" markers="map.markers" geojson="geojson" defaults="map.options")
		.header-content
			.container
				.four.columns
					h1 
						a(ui-sref="sensor"){{sensor.name}}
					.header-summary
						.quality
							h2 Qualidade agora
								span.green Boa
							p.detail Última medição: 1 hora atrás
				.eight.columns
					.clearfix
						nav#sensor-nav.header-nav
							a(ui-sref="sensor({'#': 'sensor-community'})") Comunidade
							a(ui-sref="sensor({'#': 'sensor-main'})") Últimas medições
							a(ui-sref="sensor({'#': 'sensor-charts'})") Dados históricos
							a(ui-sref="sensor({'#': 'sensor-city'})") Belterra
					.clearfix
						a.button.subscribe(ui-sref="sensor.subscribe") 
							span.icon-rss 
							| Receba atualizações deste sensor
	#sensor-content(ui-view)
		section#sensor-community.anchor-section
			.container
				.twelve.columns
					img.cmm-pic(ng-src="{{sensor.image}}")
					h2 Comunidade deste sensor
					p {{sensor.description}} 
		section#sensor-main.anchor-section
			.container
				.six.columns
					.sensor-average
						h2 Média dos últimos 30 dias
						ul.average-list
							li.average-item
								h3 Qualidade
								p Boa
							li.average-item
								h3 Temperatura
								p 23 C
							li.average-item
								h3 pH
								p 7
							li.average-item
								h3 Luminosidade
								p 100
							li.average-item
								h3 Condutividade
								p 203
							li.average-item
								h3 Turbidez
								p 5
							li.average-item
								h3 ORP
								p 349
							li.average-item
								h3 Aceleração
								p 120
				.six.columns
					latest-readings(sensor="sensor" amount="'5'")
		//- section#sensor-map(ng-controller="MapCtrl")
		//- 	leaflet#map(center="map.center" layers="map.layers" legend="legend" markers="map.markers" geojson="geojson" defaults="map.options")
		section#sensor-charts.anchor-section.row
			.sensor-chart
				header#sensor-charts-header
					.container
						.twelve.columns
							h2 Dados históricos
							nav.chart-filters
								.chart-filter-item
									select(ng-model="chartDateParam" ng-options="dateParam.label for dateParam in chartDateParams track by dateParam.value")
								.chart-filter-item(ng-show="chartDateFilter.value == 'custom'")
									input(type="text" placeholder="Data de início")
								.chart-filter-item(ng-show="chartDateFilter.value == 'custom'")
									input(type="text" placeholder="Data de fim")
				nav.chart-nav
					.container
						.twelve.columns
							a(ng-repeat="param in chartParams" href="javascript:void(0);" ng-click="chartMeasure(param._id)" ng-class="{active: curParam == param._id}") {{param.name.pt}}  
				.container
					.twelve.columns
						.chart
							reading-chart(dataset="measures" label="param.name.pt")
						.download
							a.button(href="#") Baixar estes dados

		section#sensor-city.anchor-section
			.container
				.six.columns
					h2 Qualidade da água e doenças em 
						strong Belterra
					p via 
						a.visaguas(href="http://visaguas.infoamazonia.org/" rel="external") Visaguas
				.six.columns
					p A Amazônia detém a maior quantidade de água doce do Brasil, 73% de toda vazão hídrica.
					p Mas o acesso ao saneamento nos 771 munícipios da região está entre as piores do país.
					p Na Amazônia Legal, 60% das residências são atendidas pela rede geral de água. A média nacional é de 82,7%.
			iframe(src="http://visaguas.infoamazonia.org/uf/15/cidade/150145/?theme=rede&lock=true&hide_title=true" frameborder="0" width="100%" height="800")
