.latest-readings
	h3
		| Últimas medições
		span.realtime
	table(class="amount-{{amount}}")
		thead
			tr
				th(title="Hora")
					span Hora
				th(title="Qualidade")
					span Qualidade
				th(title="Condutividade" ng-show="hasParam('water_conductivity')")
					span Condutividade
				th(title="Turbidez" ng-show="hasParam('turbidity')")
					span Turbidez
				th(title="ORP" ng-show="hasParam('orp')")
					span ORP
		tbody
			tr(ng-repeat="reading in latest | limitTo: amount")
				td.time(title="{{fromNow(reading)}}")
					span {{fromNow(reading)}}
				td.quality(title="Boa")
					span
						| Boa 
						span.quality-3
				td(title="{{reading.water_conductivity}}" ng-show="hasParam('water_conductivity')")
					span {{reading.water_conductivity}}
				td(title="{{reading.turbidity}}" ng-show="hasParam('turbidity')")
					span {{reading.turbidity}}
				td(title="{{reading.orp}}" ng-show="hasParam('orp')")
					span {{reading.orp}}
