.latest-readings
	h3
		| Últimas medições
		span.realtime
	table(class="amount-{{amount}}")
		thead
			tr
				th(title="Hora")
					span Hora
				th(title="{{getParam(param).name.pt}}" ng-repeat="param in params")
					span {{getParam(param).name.pt}}
		tbody
			tr(ng-repeat="score in latest | limitTo: amount")
				td.time(title="{{fromNow(score)}}")
					span {{fromNow(score)}}
				td(title="{{scoreParam(param, score).value}} {{getParam(param).defaultUnit}}" ng-repeat="param in params")
					span {{scoreParam(param, score).value}} {{getParam(param).defaultUnit}}
