.latest-readings
	h3
		span(translate) Últimas medições
		span.realtime
	p(ng-hide="latest.length") Nenhuma medição foi encontrada
	table(class="amount-{{amount}}" ng-show="latest.length")
		thead
			tr
				th(title="{{'Hora' | translate}}")
					span(translate) Hora
				th(title="{{getParam(param).name[paramLang]}}" ng-repeat="param in params")
					span {{getParam(param).name[paramLang]}}
		tbody
			tr(ng-repeat="group in latest | limitTo: amount")
				td.time(title="{{formattedDate(group)}}")
					span {{fromNow(group)}}
				td(title="{{paramMeasurement(group, param).value}} {{getParam(param).defaultUnit}}" ng-repeat="param in params")
					span(ng-show="paramMeasurement(group, param)")
						span {{paramMeasurement(group, param).value.toFixed(2)}} {{getParam(param).defaultUnit}}
					span(ng-hide="paramMeasurement(group, param)") --
