#sensor-report
  .report-header.row
    .container
      .twelve.columns
        h2 Localização
        p Latitude: {{sensor.geometry.coordinates[1]}}
        p Longitude: {{sensor.geometry.coordinates[0]}}
  .report-content.row
    .container
      .twelve.columns
        h2 Relatório de 
          span {{formattedFrom}} 
          | à 
          span {{formattedTo}}
    section.sensor-param.row(ng-repeat="param in params")
      .container
        .twelve.columns
          h3 {{param.name.pt}}
          reading-chart(dataset="data[param._id]" label="param.name.pt")
