#sensor-report
  .report-header.row
    .container
      .twelve.columns
        h2 Localização do sensor
        p Latitude: {{sensor.geometry.coordinates[1]}}
        p Longitude: {{sensor.geometry.coordinates[0]}}
  .report-content.row
    .container
      .twelve.columns
        h2 Relatório de 
          span {{formattedFrom}} 
          | à 
          span {{formattedTo}}
    section.sensor-param.row(ng-repeat="param in params")
      .container
        .twelve.columns
          h3 {{param.name.pt}}
          div(style="height: 200px;")
            reading-chart(dataset="data[param._id]" label="param.name.pt")
  #method
    .container
      .twelve.columns
        h2 Metodologia
        
        P O Mãe d´Água possui funcionalidades de medição de acidez da água pelo potencial hidrogeniônico (pH), potencial de redução da oxidação (ORP), condutividade elétrica, temperatura da água e pressão barométrica no nível da água, variáveis que auxiliam na inferência da qualidade da água para consumo humano.

        p O índice de qualidade da água do Rede InfoAmazonia é composto de 4 parâmetros, que possuem pesos diferenciados
        
        ul
          li Potencial hidrogênionico (pH) (peso = 0,xx)
          li Potencial de redução da oxidação (ORP) (peso = 0,xx)
          li Condutividade elétrica (peso = 0,xx)
          li Temperatura da água (peso = 0,xx)

        p A coleta de dados é feita automaticamente a cada hora, as leituras são enviadas via rede 2G ou 3G para o servidor do site rede.infoamazonia.org. Os dados base  

        h3 Condutividade elétrica
        p A capacidade da água de conduzir eletricidade indica minerais dissolvidos ou clorídeos na água. Minerais dissolvidos podem comprometer a utilização da água para uso doméstico. 

        h3 Potencial hidrogeniônico (pH)
        p O pH normal deve variar entre 6 e 9, este índice pode sr alterado por conta da poluição.

        h3 Temperatura
        p A temperatura é um elemento que influencia características físicas e a química da água, como sua densidade e capacidade de reter oxigênio dissolvido. 

        h3 Potencial de redução da oxidação (ORP)
        p O potencial de redução da oxidação ajuda a definir quais formas dos metais estão presentes na água.  
