article.sensor-summary
	header
		.clearfix
			h2 {{sensor.name}}
		section.community.clearfix
			img.cmm-pic(ng-src="{{sensor.image}}")
			p {{sensor.description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis iaculis nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vehicula accumsan ullamcorper. Vivamus id risus id augue aliquet porta ut ultrices velit. Pellentesque sagittis condimentum ante sed lacinia. Phasellus sollicitudin elit ac metus tincidunt feugiat. In tortor quam, volutpat quis justo ut, congue tristique diam. Mauris vitae velit sit amet turpis elementum efficitur. Nulla facilisi. Nullam eu tortor sem. Nam efficitur urna at eros suscipit ullamcorper. Maecenas a nibh condimentum, malesuada est facilisis, ornare lectus. Pellentesque pellentesque lectus nec arcu cursus tincidunt. Vestibulum lobortis lacus a neque tempor, in consequat ligula porta. In non iaculis tortor. Proin congue vehicula velit, vel ullamcorper dui gravida sed. 
		section.clearfix
			.current
				h3 Qualidade agora 
					span.green BOA
				a.button(ui-sref="sensor({sensorId: sensorId})") Saiba mais
			.readings
				latest-readings(amount="'3'" sensor="sensorId" params="[]")
	//- section
	//- 	 sensor-chart-summary(sensor="sensorId")
