#admin-broadcast
  header.section-header.clearfix
    .one.column
      h3
        span.icon-megaphone 
    .three.columns
      h3 
        a(ui-sref="admin.broadcast" translate) Broadcast 

  div.eleven.columns.offset-by-one
    p(translate) Envie uma mensagem para todos os assinantes
    form#broadcast(ng-submit="broadcast(msg)")
      textarea(maxlength="160" ng-model="msg")
      input(type="submit" value="{{'Enviar mensagem'|translate}}")
