#admin
  .container
    .twelve.columns
      header#admin-header
        h2 
          a(ui-sref="admin.sensors") Área administrativa
        nav(ng-show="loggedIn").row
          ul.tabbed-nav
            li(ui-sref-active="active")
              a(ui-sref="admin.sensors") 
                span.icon-signal 
                | Sensores
              ul
                li
                  a(ui-sref="admin.sensors.new") 
                    span.icon-plus 
                    | Novo sensor
            li(ui-sref-active="active")
              a(ui-sref="admin.users") 
                span.icon-user 
                | Usuários
              ul
                li
                  a(ui-sref="admin.users") 
                    span.icon-plus 
                    | Novo usuário
            li(ui-sref-active="active")
              a(ui-sref="admin.broadcast") 
                span.icon-megaphone 
                | Broadcast
  .container
    .twelve.columns
      form#login(ng-submit="login(auth)" ng-show="!loggedIn")
        p
          input(type="email" placeholder="Email" ng-model="auth.email")
        p
          input(type="password" placeholder="Senha" ng-model="auth.password")
        p
          input(type="submit" value="Entrar")
      div(ui-view autoscroll="false")
