#admin
  .container.row
    .twelve.columns
      header#admin-header
        h2 
          a(ui-sref="admin.sensors") Área administrativa
  .container
    .twelve.columns
      form#login(ng-submit="login(auth)" ng-show="!loggedIn")
        p
          input(type="email" placeholder="Email" ng-model="auth.email")
        p
          input(type="password" placeholder="Senha" ng-model="auth.password")
        p
          input(type="submit" value="Entrar")
      div(ui-view autoscroll="false")
