#admin-sensor-measurements
  header.sub-section-header
    h4
      span.icon-line-graph 
      span(translate) Medições em {{sensor.name}}
    ul.tabbed-nav
      li(ng-repeat="(key,parameter) in parameters" ui-sref-active="active")
        a(ui-sref="admin.sensors.measurements({parameter_id: key, measurement_page: null})") {{parameter.name.pt}}

  table(ng-show="measurements")
    thead
      tr
        th(translate) Data
        th(translate) Valor
        th(translate) Unidade de medida
        th(translate) Remover
    tbody
      tr(ng-repeat="measurement in measurements.measurements")
        td {{getDate(measurement)}}
        td {{measurement.value}}
        td {{measurements.parameter.defaultUnit}}
        td 
          a.button(href="#" ng-click="deleteMeasurement(measurement)")
            span.icon-cross 
            span(translate) Remover
    
  p.pagination.clearfix.row(ng-show="showPrev || showNext")
    a.button.prev(ui-sref="admin.sensors.measurements({measurement_page: page-1})" ng-show="showPrev" translate) Página anterior
    a.button.next(ui-sref="admin.sensors.measurements({measurement_page: page+1})" ng-show="showNext" translate) Próxima página
