#admin-sensor-broadcast
  h4 
    span.icon-megaphone 
    span(translate) {{sensor.name}} Broadcast
  p(translate) Envie uma mensagem para os assinantes de {{sensor.name}}
  form#broadcast(ng-submit="broadcast(msg)")
    textarea(maxlength="160" ng-model="msg")
    input(type="submit" value="{{'Enviar mensagem' | translate}}")
