#admin-users
  header.section-header.clearfix
    .one.column
      h3
        span.icon-user 
    .three.columns
      h3 
        a(ui-sref="admin.users")
          | Usuários 
    .eight.columns
      a.button(ui-sref="admin.users.new") 
        span.icon-plus 
        | Novo usuário
  div.eleven.columns.offset-by-one(ui-view autoscroll="false")
    table
      thead
        tr
          th Nome
          th Email
          th Telefone
          th Editar
          th Remover
      tbody
        tr(ng-repeat="user in users")
          td {{user.name}}
          td {{user.email}}
          td {{user.phone}}
          td
            a.button(ui-sref="admin.users.edit({userId: user._id})")
              span.icon-edit 
              | Editar
          td
            a.button.delete(href="javascript:void(0);" ng-click="deleteUser(user)") 
              span.icon-cross 
              | Remover
