#admin-users
  header.section-header.clearfix
    .one.column
      h3
        span.icon-user 
    .three.columns
      h3 
        a(ui-sref="admin.users" translate) Usuários 
    .eight.columns
      a.button(ui-sref="admin.users.new") 
        span.icon-plus 
        span(translate) Novo usuário
  div.eleven.columns.offset-by-one(ui-view autoscroll="false")
    table
      thead
        tr
          th(translate) Nome
          th(translate) Email
          th(translate) Função
          th(translate) Telefone
          th(translate) Editar
          th(translate) Remover
      tbody
        tr(ng-repeat="user in users")
          td {{user.name}}
          td {{user.email}}
          td {{user.role}}
          td {{user.phoneNumber}}
          td
            a.button(ui-sref="admin.users.edit({userId: user._id})")
              span.icon-edit 
              span(translate) Editar
          td
            a.button.delete(href="javascript:void(0);" ng-click="deleteUser(user)") 
              span.icon-cross 
              span(translate) Remover
    p.pagination.clearfix.row(ng-show="showPrev || showNext")
      a.button.prev(ui-sref="admin.sensors({page: page-1})" ng-show="showPrev" translate) Página anterior
      a.button.next(ui-sref="admin.sensors({page: page+1})" ng-show="showNext" translate) Próxima página
