* {
  background: transparent !important;
  color: #000 !important;
}

.scroll-fixed,
#sensor #sensor-header .sensor-map,
nav,
.subscribe,
.header-summary {
  display: none !important;
}

#sensor #sensor-header h1 {
  margin: 0 !important;
  font-size: 72px;
}

#sensor .sensor-param {
  page-break-inside: avoid;
}

.sub-header {
  background: transparent !important;
}

.container {
  width: 100% !important;
  max-width: none !important;
}
